

h1{
  color: blanchedalmond;
  font-size: 22px;
  background-color: darkcyan;
  margin: 30px;
}

p,h2{
  text-align: center;
  text-decoration-color: aquamarine;
}

body{
  background-color: beige;
}

img{
  height: 450px;
  width: 450px;
  margin-bottom: 10px;
  border-radius: 20px;
  border:solid;
}


.header{
  background-color: darkcyan;
  display: flex;
  justify-content: space-between;
}

.site-description{
  display:flex;
  flex-direction: column;
  justify-content: first baseline;
}

.menu{
  margin-right: 40px;
  margin: 30px;
}

.menu a{
 margin-left:20px;
 margin-right: 20px; 
 margin-top: 20px;
}
.grid{
  display: flex;
  flex-wrap:wrap ;
  justify-content: space-evenly;
}

.item{
  position: relative;
  border-radius: 20px;
}

.item p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  border-radius: 20px;
  border-color:black ;
}

.item:hover p{
  opacity: 1;
}

.item:hover img{
  opacity:0.33;
}

a:link{
  color: white;
}

a:visited{
  color: white;
}